# Redirection vers index.php
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirige toutes les requêtes vers index.php sauf pour les fichiers existants
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

# Protection du fichier db_config.php
<Files "db_config.php">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Deny from all
    </IfModule>
</Files>